//colors
$color_celeste_approx: #cccccc;
$black:  black;
$white: white;
$color_mine_shaft_approx: #333333;
$color_polar_approx: #e1f2f7;
$color_jungle_mist_approx: #b2d2dd;
$color_silver_approx: #bfbfbf;
$color_alto_approx: #dedede;
$color_mountain_mist_approx: #999999;
$color_suva_gray_approx: #888888;

//fonts
$font_0: proxima-nova-semibold;
$font_1: Arial;
$font_2: sans-serif;
$font_3: proxima-nova-regular;

.intelliDropDown {
	top: 30px;
	left: 0;
	position: absolute;
	max-height: 100px;
	width: 250px;
	overflow-x: auto;
	border: 1px $color_celeste_approx $black;
	z-index: 10002;
	&:empty {
		display: none;
	}
	> li {
		background-color: $white;
		height: 25px;
		color: $black;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 2;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 14px;
		font-family: $font_0, $font_1, $font_2;
		color: $color_mine_shaft_approx;
	}
}
.vmComboBox {
	border: 1px $color_mountain_mist_approx solid;
	display: inline-block;
	display: inline\9;
	.selectedoption {
		background-color: #B2D2DD !important;
	}
	input {
		&.vmComboBoxInput {
			display: inline-block;
			height: 30px;
			padding-left: 10px;
			padding-right: 10px;
			float: left;
		}
		&.vmComboBoxInput~span.btn {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.vmComboBoxInput {
		&::-ms-clear  {
			    display:  none;
			width: 0;
			height: 0;
		}
		&::-webkit-input-placeholder {
			font-family: $font_3;
			color: $color_suva_gray_approx;
			font-size: 14px;
		}
		&::-moz-placeholder {
			font-family: $font_3;
			color: $color_suva_gray_approx;
			font-size: 14px;
		}
		&:-ms-input-placeholderolder {
			font-family: $font_3;
			color: $color_suva_gray_approx;
			font-size: 14px;
		}
		&.form-control:focus {
			border: 1px solid;
			border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
		}
	}
	.caret {
		border-top-width: 10px;
		border-left-width: 6px;
		border-right-width: 6px;
	}
	.intelliDropDown .hoveroption {
		background-color: #E1F2F7;
	}
	span.btn-default {
		height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		margin-bottom: 0;
	}
}