.starlight{
  *{
  	outline:none !important;
  }
  
  .ajaxSpinner{
  	background:url("../images/starlight/spinner.gif") no-repeat bottom;
  	width:16px;
  	height:20px;
  	display:inline-block;
  	padding: 2px;
    margin-left: 15px;
  }
  .panelPreloader {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-color: #ffffff;
  }
  .disabled,
  [disabled="disabled"]{
    color:#999;
    &:hover,
    &:focus{
      color:#999;
    }
  }
  ul.parsley-errors-list{
    padding-left: 0;
  }
  body.starlight,html
  {
  	font-family:"proxima-nova-regular","Arial",san-serif;
	font-size:100%;
  }

  .margin-top-5{
    margin-top: 5px;
  }
  .margin-top-10{
    margin-top: 10px;
  }
  .margin-top-15{
    margin-top: 15px;
  }
  .margin-top-20{
    margin-top: 20px;
  }
  .margin-top-25{
    margin-top: 25px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
  .margin-bottom-5{
    margin-bottom: 5px;
  }
  .margin-bottom-10{
    margin-bottom: 10px;
  }
  .margin-bottom-15{
    margin-bottom: 15px;
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  .margin-bottom-25{
    margin-bottom: 25px;
  }
  .margin-bottom-30{
    margin-bottom: 30px;
  }

  .margin-bottom-0{
    margin-bottom: 0px !important;
  }

  .padding-10{
    padding:10px;
  }

  .padding-20{
    padding:20px;
  }

   .padding-tb-20{
    padding-top:20px;
    padding-bottom:20px;
  }

  .padding-top-20{
    padding-top:20px;
  }

  .margin-tb-20{
    margin-top:20px;
    margin-bottom:20px;
  }

  .padding-right-0{
    padding-right:0px;
  }

  .padding-top-30{
    padding-top:30px;
  }

  .padding-0{
    padding:0px;
  }

  .padding-tb-10{
    padding-top:10px;
    padding-bottom:10px;
  }

  .font12{
    font-size:12px;
  }

  .font14{
    font-size:14px;
  }

  .font-bold{
    font-weight: bold;
  }

  .list-inline.row > li{
    padding-left: 15px;
  }
}

body.home_liferay, body.login_liferay, body.liferay.starlight{
&.has-alerts {margin-top: 80px !important;}
.popup-alert-notice .message, .popup-alert-warning .message {
    margin: 10px auto 0;
    padding: 10px 20px 20px 70px;
    width: 870px;
}
.popup-alert-notice, .popup-alert-warning {
    background: url("") no-repeat scroll 5px 50% #FFF9EA;
    border-bottom: 1px solid;
    font-size: 0.9em !important;
    height: 80px;
    left: 0;
	padding:0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.popup-alert-warning {
    background-color: #FFF9EA !important;
    border-bottom-color: #000000 !important;
	font-weight: normal !important;
	background-image: none !important;
}

.popup-alert-warning .message {background: url("/static/vmware/common/css/img/ico-alert.gif") no-repeat scroll 0 5px transparent;}
.popup-alert-notice {background: none repeat scroll 0 0 #FFF9EA;}
.popup-alert-notice .message {background: url("/static/vmware/common/css/img/ico-alert.gif") no-repeat scroll 0 5px transparent;}
@media (max-width: 699px) {
  .popup-alert-warning .message, .popup-alert-notice .message {
    width: 370px;
  }
  .popup-alert-warning, .popup-alert-notice {
    height: 100px;
  }
  &.has-alerts {
    margin-top: 100px !important;
  }
}

}

body.liferay.public-page #content-container{margin-top:60px;}