/********************************** Eyebrow Styling ************************************/
.starlight{
	.page-eyebrow {
	    height: 40px;
	    border-bottom: 1px solid $starlight-eyebrow-gray;
	    left: 0;
	    top: 0;
	    width: 100%;
	    z-index: 5;

	    .eyebrow-menu { 
		    /* for all elements within the eyebrow i.e., locale info and eyebrow-menu */
		    font-family: $font-family-proxima-nova-light;
		    font-size: 15px;
		    line-height: normal;
	        margin-right: 0;
	        margin-top: 10px;
	        width: 100%;
	        float: right;
		    position: relative;
		    z-index: 4;

		    .menu-link-quick {
		    	display:none;
			}

	        a{
	        	color: #FFFFFF;
	        	&:hover{
			    	color: $starlight-blue;
			    }
			    &.user-locale{
			    	padding: 0 8px;
			        .icons-locale_bg{
			        	height: 16px;
			        	width: 30px;
			        	margin-right: 5px;
			        	display: block;
			        	float: left;
			        }
			    } 
	        }
	        ul {
	        	border: 0 none;
		    	margin: 0 0 0 -0.25em;
		   		padding-left: 0;
				
				li {
				    border-left: 1px solid $starlight-eyebrow-gray;
				    margin: 0;
				    display: inline-block;

				    &:first-child {
					    border-left: medium none;
					}

					a.menu-item-quick {
					    float: left;
					    font-size: 15px;
					    font-weight: 300;
					    height: 19px;
					    margin: 0;
					    padding: 0 10px;

					}
				}
			}
			.whatsnew-level-2 {
			  width: 335px;
			  z-index: 100;
			  top:20px;
			  position:absolute;
			  right:-15px;
			  font-size: 14px;
			  .whatsnew-content{
			    background-color: #FFF;
			    box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.5);
			    margin-top: 15px;
			    ul{
			      list-style-type: none;
			      border-top:4px solid $starlight-blue;
			      margin-left: 0;
			      li{
			        display: list-item;
			        cursor: pointer;
			        color:#333;
			        padding:15px 30px 15px 15px;
			        border-left:0;
			        border-bottom:1px solid #CCC;
			        &.whatsnew-title{
			          font-family: $font-family-proxima-nova-semibold;
			        }
			        a{
			          color:$starlight-blue-dark;
			          &:hover{
			            color:$starlight-blue;
			          }
			        }
			        .whatsnew-date{
			          font-size: 12px;
			          color:$starlight-gray-solid;
			          display: block;
			        }
			        .icons-close{
			          float: right;
			          margin-right: -15px;
			          margin-top: -32px;
			        }
			      }
			    }
			  }
			  .custom-arrow-down {
			    width: 0; 
			    height: 0; 
			    border-left: 15px solid transparent;
			    border-right: 15px solid transparent;
			    border-bottom: 15px solid #0095D3;
			    float: right;
			    margin-right: 90px;
			  }
			}

			.whatsnew-menu{
			  cursor: pointer;
			  float: right;
			  margin-right: 8px;
			  margin-top: 6px;
			}
	    }
	}
/********************************** LOGO and Mega-menu ************************************/
	.header{
	    height: 98px;

	    .page-logo { //Styling for VM Logo
		  width: 172px;
		  height: 27px;
		  background-image: url("../images/starlight/logo-b.png");
		  display: inline-block;
		  margin: 32px 0 0;
		  float:left;
		}

		.page-logo-my { //Styling for my VM Logo
		  width: 254px;
		  height: 39px;
		  background-image: url("../images/starlight/MyVMware_logo.png");
		  display: inline-block;
		  margin: 32px 0 0;
		  float:left;
		}

		.brand{
			font-family: $font-family-proxima-nova-light;
			font-size: 37px;
			color:#9BA421;
		    margin-left: 12px;
		    margin-top: 27px;
		    line-height: 37px;
		    display:inline-block;
		    white-space: nowrap;
		}

		.nav-menu {
			font-family: $font-family-proxima-nova-thin;
			float: right;
		    margin: 36px -20px 0 0;
		    position: relative;
		    z-index: 3;

		    .container-fluid,
		    .container-fluid .navbar-collapse {
		    	padding:0;
		    }

		    .navbar-header{
		    	margin:0;
		    	.navbar-toggle {
				    background: url("../images/mobile-menu-nav-btn.png") no-repeat scroll center center rgba(0, 0, 0, 0) ;
					margin-right: 0px;
					padding:15px;
				}
		    }

		    ul {
		    	border: 0 none;
			    margin: 0 0 0 -0.25em;
			    padding-left: 0;
			    
			    &.nav-level-1 > .dropdown1 > li {
			    	margin: 0 0.25em;
					&:hover{
				    	background-color:$starlight-blue;
					}
					a.menu-item-primary-1 { // Menu items
					    color: #FFFFFF;
					    font-size: 20px;
					    padding: 10px 17px 15px;
					    line-height: 1.2;
					    &:hover,
					    &:focus{
					    	background-color:transparent;
					    }
					    .icons-icn_sticky_down_arrow{
					    	margin: 0 8px;
					    }
					}
				}
				   &.nav-level-1 > li {
			    	margin: 0 0.25em;
					&:hover{
				    	background-color:$starlight-blue;
					}
					a.menu-item-primary-1 { // Menu items
					    color: #FFFFFF;
					    font-size: 20px;
					    padding: 10px 17px 15px;
					    line-height: 1.2;
					    &:hover,
					    &:focus{
					    	background-color:transparent;
					    }
					    .icons-icn_sticky_down_arrow{
					    	margin: 0 8px;
					    }
					}
				}

				&.nav-level-2 {
					min-width: 245px;
					display:none;
					background-color: $starlight-bg-gray-light;
				    box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.5);
				    border-top:4px solid $starlight-blue;
				    padding:15px;
				    width: auto;
				    z-index: 100;
				    position:absolute;
				    right:0;
				    list-style-type: none;
				    &#products, &#partners{
				    	right: auto;
				    }
				}	
		    }
		}
	}
}

.nav-menu-open{
	display: block !important;
}

@media only all and (max-width:$screen-lg) and (min-width:$screen-sm){
	.starlight .header{
		.nav-menu{
			clear: left;
			margin-top: 16px;
		}
	}
}

@media only all and (min-width : $screen-sm) and (max-width : $screen-md)  {
	.starlight .header .nav-menu ul.nav-level-1 > .dropdown1 li a.menu-item-primary-1 {
		font-size: 17px;
	}
	.starlight .header .nav-menu ul.nav-level-1 > li a.menu-item-primary-1 {
		font-size: 17px;
	}
}

@media only all and (max-width : $screen-sm) {
	.starlight .header{
		.page-logo{
			width: 148px;
	  		height: 23px;
	  		background-image: url("../images/starlight/logo-small.png");
		}
		.brand{
			font-size: 30px;
			top:64px;
		}
		.nav-menu{
			width:100%;
			margin: -37px 0 0;
			ul.nav-level-1 {
				overflow:hidden;
		.dropdown1{ 
				&>li {
					display: block;
				    float: left;
				    position: relative;
				    width: 100%;
				    margin:0;
				   
						background: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 6%, #F1F1F1 93%, #ECECEC 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
					    border-top: 1px solid #D0D0D0;
					    color: #666666;
					    font-size: 18px;
					    font-weight: 200;
					    height: 44px;
					    line-height: 25px;
    					text-indent: 13px;
    					&:hover{ //No use for mobile
	    					color: $starlight-blue;
	    				
					}
				}
			}
			
				&>li {
					display: block;
				    float: left;
				    position: relative;
				    width: 100%;
				    margin:0;
				    a.menu-item-primary-1,a.menu-item-primary-2 {
						background: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 6%, #F1F1F1 93%, #ECECEC 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
					    border-top: 1px solid #D0D0D0;
					    color: #666666;
					    font-size: 18px;
					    font-weight: 200;
					    height: 44px;
					    line-height: 25px;
    					text-indent: 13px;
    					&:hover{ //No use for mobile
	    					color: $starlight-blue;
	    				}
					    &:before{
					    	background: url("../images/mobile-menu-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
						    content: "";
						    display: block;
						    height: 13px;
						    left: 16px;
						    position: absolute;
						    top: 16px;
						    width: 8px;
					    }
					}
				}
		}	
			ul.nav-level-2 {
				position:relative;
			}
		}		
	}
}

.page-b-header-gradient {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	float:left;
    background: #ededed;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(99%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    /* IE6-8 */ 
}

.icons-icn_sticky_down_arrow{ 
	display:inline-block;
	width:11px;
	height:7px;
}

.icons-filter_btn_arw_selected{ 
	display:inline-block;
	width:13px;
	height:8px;
}

