body.liferay.starlight{
    .pushPane {
        background: url("/vmf/c/4.0/images/starlight/pushPanegreenBg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        display: none;
        min-height: 160px;
        min-width: 980px;
        padding: 20px 0;
    }
    .pushPaneContent {
        background: url("/vmf/c/4.0/images/starlight/bannerPushpane.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 162px;
        margin: 0 auto;
        position: relative;
        width: 910px;
        
        .feedbackinfo {
            font-size: 20px;
            left: 130px;
            margin-top: 0;
            position: absolute;
            top: 28px;
        }
        .feedbacktext {
            font-size: 26px;
            font-weight: bold;
            left: 130px;
            margin-top: 0;
            position: absolute;
            top: 55px;
        }
        .learnMoreLink {
            bottom: 39px;
            color: #03a898;
            font-size: 20px;
            font-style: italic;
            font-weight: bold;
            height: 29px;
            position: absolute;
            right: 108px;
            text-indent: 0 !important;
            width: 138px;
        }
    }
    .learnMoreLink {
        bottom: 39px;
        height: 29px;
        position: absolute;
        right: 108px;
        text-indent: -4444px;
        width: 138px;
    }
    .paneContent {
        padding: 5px 0 15px;
        width: 96%;
    }
    a.closePane {
        height: 16px;
        padding: 0;
        position: absolute;
        right: 27px;
        text-indent: -4444px;
        top: 10px;
        width: 17px;
        z-index: 1;
    }
}