body.starlight {
    .header {
        span.brand {
            display: none;
        }
        .page-logo-my {
            margin-top: 4px !important;
        }
        .navbar.nav-menu {
            float: none;
            margin-bottom: 0px;
        }
    }
    &.liferay .container {
        width: 98%;
        max-width: 1670px;
    }
	 &.liferay.login_liferay .container{
		width:1170px !important;
	 }
	 #vmbar{display:inline;height:0px;}
}
body.liferay.starlight .page-eyebrow .eyebrow-menu .user_options .nav-level-2 {
	padding: 10px !important;
	min-width: 240px !important;
	left: -100px !important;
}
.header {
  display: block;
  float: left;
  height: auto !important;
  width:100%;
  .navbar.nav-menu {
      width: 100%;
      float: left !important;
    }
	welcomeMsg {
          border-left: 0;
          a.menu-item-quick.welcome_a {
            padding-right: 0;
			cursor: text !important;
			text-decoration:none;
            &:hover {
              text-decoration: none;
              color: #FFF;
              cursor: auto;
            }
          }
        }
}
.home_liferay #content-container-wrapper {
  display: block;
  clear: left;
}
#homePageNavigator {
    margin-top: 0px;
    .menu-item-primary-1 {
        font-family: "proxima-nova-light", "Arial";
        padding: 10px 25px 15px;
    }
    .nav-level-2 {
        width: 505px;
        .header {
            margin-bottom: 10px;
        }
    }
    ul.nav.navbar-nav.nav-level-1 {
        .col-md-6.count-3, .col-md-6.count-1 {
            display: inline-block;
            float: left;
        }
        .col-md-6.count-2 {
            float: right;
            display: inline-block;
        }
    }
}
.nav-level-2 {
    padding: 20px !important;
    .header {
        color: #000;
        font-family: 'proxima-nova-bold';
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
    }
    .links {
        margin-top: 34px;
		a.external_link{background: url("/vmf/c/4.0/images/icons/icon_external.png") no-repeat right center;}
    }
}
.links {
    padding-bottom: 10px;
    a {
        display: block;
        padding: 3px;
    }
}
body.liferay{
  .nav > li {
      position: static;
  }
  #navHeader_2 ul {
      right: -2px;
  }
  #navHeader_1 ul {
      right: -2px;
  }
   #navHeader_3 ul {
      right: -2px;
  }
}

@media only screen and (max-width: 769px) {

    #homePageNavigator ul.nav.navbar-nav.nav-level-1 .col-md-6 {
        clear: left !important;
        display: block !important;
        float: left !important;
    }
    
    body.private-page{
         body.liferay .navbar.nav-menu .container-fluid {
				float: none;
				display: block;
			}
        &.liferay .container-fluid .navbar-collapse{
            border-radius: none;
        }
        .menu-link-quick {
            &.active {
                background: url("/static/myvmware/common/css/reskin_images/down_arrow_active.png") 85px 13px #0095d3 no-repeat !important;
                background-size: 14px !important;
            }
            &:hover {
                color: #fff !important;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
        &.starlight .page-eyebrow .eyebrow-menu .menu-link-quick {
            display: inline-block !important;
            padding: 7px 26px 7px 5px;
            cursor: pointer;
            float: right;
            background: url("/static/myvmware/common/css/reskin_images/eyebrow-menu-arrow.png") 85px 14px no-repeat;
            background-size: 14px;
        }
        .starlight-eyebrow-quick.active {
            padding: 25px 20px;
            border-top: 6px solid #0095d3;
            background: #e6e6e6;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
            height: auto !important;
            float: left;
            width: 100%;
        }
        #vmbar {
            width: 100%;
        }
        &.starlight .page-eyebrow .eyebrow-menu .starlight-eyebrow-quick.active ul {
            li {
                border-left: none;
            }
            &.user_options {
                float: left !important;
                margin-top: 5px;
                clear: both;
                width: 100%;
            }
        }
        .starlight-eyebrow-quick.active ul.user_options li {
            float: left !important;
            width: 100%;
        }
        &.liferay.starlight .page-eyebrow .eyebrow-menu {
            .starlight-eyebrow-quick.active ul li {
                height: auto !important;
            }
            ul li {
                a.menu-item-quick {
                    color: #006990;
                    background-color: inherit !important;
                }
                &.user_options:hover > a.menu-item-quick {
                    color: #006990;
                }
            }
        }
        .dropdown-toggle.menu-item-quick .glyphicon {
            display: none;
        }
        a.locale-selector {
            color: #006990 !important;
        }
        .starlight-eyebrow-quick {
            display: none !important;
            &.active {
                display: block !important;
            }
        }
        .parentClicked {
            display: block !important;
        }
        &.liferay.starlight .page-eyebrow .eyebrow-menu .starlight-eyebrow-quick.active ul {
            li.user_options > ul {
                display: block !important;
                position: relative !important;
                float: left !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                clear: both;
                width: 100%;
            }
            &.nav-level-2 {
                top: auto !important;
                left: auto !important;
                right: auto !important;
                bottom: auto !important;
                border-top: none;
                box-shadow: none;
                background-color: inherit;
            }
        }
        .navbar-nav li ul {
            float: left !important;
            position: relative !important;
            right: auto !important;
            width: 100% !important;
            width: 100% !important;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75) !important;
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75) !important;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75) !important;
            padding: 0 0 0 20px !important;
        }
        &.liferay.starlight .header .nav-menu ul.nav-level-2 {
            background-color: #F1F1F1;
        }
        &.starlight .page-eyebrow {
            border-bottom: none !important;
        }
        .menu-item-primary-1 {
            display: block;
            float: left;
            width: auto;
            background: none !important;
        }
        #homePageNavigator ul.nav-level-1 > li a.menu-item-primary-1 {
            outline:none;
            &:before {
                content: '';
                position: absolute;
                top: 16px;
                left: 0px !important;
                display: block;
                width: 15px !important;
                height: 13px;
                padding: 10px 25px 15px 8px !important;
                background: transparent url("/vmf/c/4.0/images/mobile-menu-arrow.png") no-repeat !important;
            }
            &.is-active:before {
                background: transparent url("/static/myvmware/common/css/reskin_images/icn_sticky_down_arrow.png") no-repeat !important;
            }
        }
        .menu-item-primary-1.is-active:before {
            background: transparent url(/resources/images/icn_sticky_down_arrow.png) no-repeat !important;
        }
        #navHeader_1:hover, #navHeader_2:hover, #navHeader_3:hover {
            color: #0095d3;
        }
        #navHeader_1.is-active, #navHeader_2.is-active, #navHeader_3.is-active, #navHeader_1.is-active .is-active, #navHeader_2.is-active .is-active, #navHeader_3.is-active .is-active {
            background: #0095D3 !important;
            color: #fff;
        }
        .nav-level-2.nav-col-2.parentClicked {
            background-color: #fff !important;
            li {
                background-color: #fff !important;
            }
        }
        #homePageNavigator ul.nav.navbar-nav.nav-level-1 {
            width: 100% !important;
        }
        .navbar.nav-menu .navbar-header {
            margin-top: -34px !important;
        }
        #homePageNavigator {
            margin-bottom: 20px;
            .nav-level-1 .nav-level-2.nav-col-2 {
                clear: both;
                width: 450px;
            }
        }
        .header .navbar.nav-menu {
            width: 100%;
            float: left !important;
        }
    }
}
#content-container ul.nav.navbar-nav { padding-left:25px;
li.border0{border-left:0;border-right:0;border-top:0;border-bottom:0;}}
body.liferay.starlight.login_liferay .page-eyebrow ul.pull-right {margin-top: -5px;}
body.liferay.starlight #modal_localeSelect .modal-footer{display:none;} 
body.liferay.starlight .page-eyebrow .eyebrow-menu ul{
     li.user_options{
        &:hover > ul{
            border-radius: 0px;
        }
        > ul li{
            display:block;
            height:25px;
            color: #000;
            padding-left: 5px;
            &.logout_h{
                border-top: 1px solid #cccccc;
            }
            a{
                padding-left: 0px;
            }
        }
    }
    &.nav-level-2{
        width: auto;
        left: -70px;
        background-color: #FFFFFF;
    }
}

body.liferay.starlight {
    #localeSelector.vmbar-vmware {
        display: inline-block;
        float: left;
        margin-top:10px;
    }
    .icons-locale_bg {
        width: 38px !important;
    }
}

.starlight .page-eyebrow .eyebrow-menu {
    margin-top: 0px !important;
    font-family: "proxima-nova-regular", "Arial", sans-serif;
    li.userID p {
        margin-bottom: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

body.liferay.starlight .page-eyebrow .eyebrow-menu ul li a.menu-item-quick {
    padding: 10px 13px 26px !important;
}

body.liferay.starlight .page-eyebrow .eyebrow-menu .user_options .nav-level-2 {
    top: 33px;
}

body.liferay.starlight .page-eyebrow .eyebrow-menu ul li {
    height:auto !important;
    ul.user_options.nav-level-2 {
        left: auto !important;
        width: 100%;
        min-width: 240px !important;
    }
    ul.partner_options.nav-level-2 {
        left: 4px !important;
        right: 0px;
        min-width: 210px !important;
        li { 
            height:25px !important; 
            a { 
                padding: 0px !important;
            } 
        }
    }
}

.popover, .popover-title {
    background-color: #474747 !important;
    color: #FFF !important;
    font-family: proxima-nova-regular;
}

.popover-title {
    border:none !important;
}

.popover-title a.help{
    color: #0A97CD;
}

.popover.top > .arrow:after {
    border-top-color: #474747 !important;
}
#modal_localeSelect .modal-body .clearfix.min:before{ display: none; }