.footerLinksHolder {
  color: #ccc;
  padding-top: 25px;
}

.footerbar {
  border-top: none;
  height: auto;
  padding-bottom: 40px;
}

.linksWrap {
  margin-top: 7px;
  padding-left: 10px;
  border-left: 1px solid #595659;

  ul {
    margin-top: 2px;
    padding-left: 0;

    li {
      list-style: none;
      padding-left: 0;
      padding-top: 6px;
      
      a {
        color: #d1d0d2;
        font-size: 16px !important;
        font-family: proxima-nova-regular;
        
        &:hover{
          color: #d1d0d2;
          text-decoration: none;
        }
      }
    }
  }
}

.linkHdr {
  color: #FFF;
  font-size: 16px;
  font-family: 'proxima-nova-semibold';
}

.border0 {
  border: none;
  padding-left: 0;
}

#footer-container {
  padding: 0 0 0 30px;
  background: url("/vmf/c/4.0/images/starlight/footer-pattern-lg.png") no-repeat scroll right bottom #4f4b4c;
  margin-top: 30px;
  
  .fluid-width {
	  width: 96% !important;
	  max-width: 1670px !important;
	}
	
.footerbar.fluid-width.container-fluid {padding-left:0;}
}

.page-b-footer-gradient {
  bottom: 0px;
}

.footerbar p {
  font-size: 14px !important;
}

.reskinningFooterWrap .container-fluid {
  padding-left: 0;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 769px) {
  .row.footerLinksHolder div.col-md-3.linksWrap {
    float: left;
    overflow: hidden;
    width: 50%;
    border: none;
    min-height: 190px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .row.footerLinksHolder div.col-md-3.linksWrap {
    width: 100% !important;
    min-height: 0px;
  }
}