
.icons-sprite, .icons-alert-close, .icons-alert-danger, .icons-alert-info, .icons-alert-success, .icons-alert-warning, .icons-close, .icons-close_blue, .icons-filter_btn_arw, .icons-filter_btn_arw_selected, .icons-icn_alert_reminder_alt, .icons-icn_alert_urgent_alt, .icons-icn_arrow_dwn_blue, .icons-icn_arrow_dwn_gray, .icons-icn_arrow_dwn_wht, .icons-icn_basic_tickmark, .icons-icn_danger, .icons-icn_danger_alt, .icons-icn_info, .icons-icn_new_window, .icons-icn_new_window_wht, .icons-icn_sticky_down_arrow, .icons-icn_sticky_left_arrow, .icons-icn_sticky_right_arrow, .icons-icn_warning, .icons-icn_warning_alt, .icons-info, .icons-locale_bg, .icons-mobile-menu-arrow, .icons-nav-responsive-button-menu, .icons-online, .icons-progress-1-active, .icons-progress-1-inactive, .icons-progress-2-active, .icons-progress-2-inactive, .icons-progress-3-active, .icons-progress-3-inactive, .icons-progress-4-active, .icons-progress-4-inactive, .icons-progress-5-active, .icons-progress-5-inactive, .icons-progress-check-active, .icons-progress-check-inactive, .icons-search-b-icon {
  background: url('/vmf/c/4.0/images/icons-sd9c15f55d8.png') no-repeat;
}

.icons-alert-close {
  background-position: 0 -347px;
}

.icons-alert-danger {
  background-position: 0 -365px;
}

.icons-alert-info {
  background-position: 0 -136px;
}

.icons-alert-success {
  background-position: 0 -22px;
}

.icons-alert-warning {
  background-position: 0 -109px;
}

.icons-close {
  background-position: 0 -481px;
}

.icons-close_blue {
  background-position: 0 -91px;
}

.icons-filter_btn_arw {
  background-position: 0 -620px;
}

.icons-filter_btn_arw_selected {
  background-position: 0 -612px;
}

.icons-icn_alert_reminder_alt {
  background-position: 0 -526px;
}

.icons-icn_alert_urgent_alt {
  background-position: 0 -510px;
}

.icons-icn_arrow_dwn_blue {
  background-position: 0 -628px;
}

.icons-icn_arrow_dwn_gray {
  background-position: 0 -561px;
}

.icons-icn_arrow_dwn_wht {
  background-position: 0 -594px;
}

.icons-icn_basic_tickmark {
  background-position: 0 -653px;
}

.icons-icn_danger {
  background-position: 0 -465px;
}

.icons-icn_danger_alt {
  background-position: 0 -449px;
}

.icons-icn_info {
  background-position: 0 -580px;
}

.icons-icn_new_window {
  background-position: 0 -539px;
}

.icons-icn_new_window_wht {
  background-position: 0 -550px;
}

.icons-icn_sticky_down_arrow {
  background-position: 0 -646px;
}

.icons-icn_sticky_left_arrow {
  background-position: 0 -11px;
}

.icons-icn_sticky_right_arrow {
  background-position: 0 0;
}

.icons-icn_warning {
  background-position: 0 -497px;
}

.icons-icn_warning_alt {
  background-position: 0 -434px;
}

.icons-info {
  background-position: 0 -247px;
}

.icons-locale_bg {
  background-position: 0 -663px;
}

.icons-mobile-menu-arrow {
  background-position: 0 -732px;
}

.icons-nav-responsive-button-menu {
  background-position: 0 -695px;
}

.icons-online {
  background-position: 0 -679px;
}

.icons-progress-1-active {
  background-position: 0 -413px;
}

.icons-progress-1-inactive {
  background-position: 0 -392px;
}

.icons-progress-2-active {
  background-position: 0 -205px;
}

.icons-progress-2-inactive {
  background-position: 0 -226px;
}

.icons-progress-3-active {
  background-position: 0 -184px;
}

.icons-progress-3-inactive {
  background-position: 0 -163px;
}

.icons-progress-4-active {
  background-position: 0 -305px;
}

.icons-progress-4-inactive {
  background-position: 0 -284px;
}

.icons-progress-5-active {
  background-position: 0 -326px;
}

.icons-progress-5-inactive {
  background-position: 0 -263px;
}

.icons-progress-check-active {
  background-position: 0 -70px;
}

.icons-progress-check-inactive {
  background-position: 0 -49px;
}

.icons-search-b-icon {
  background-position: 0 -745px;
}


.home_liferay, .login_liferay, .legacy.starlight, .liferay.starlight{  

    /* Sprite classes */

    .sprite-MyVMware_logo_home,
    .sprite-alert-success_20,
    .sprite-alert-warning_20,
    .sprite-alerts_icon,
    .sprite-blue_left_arrow,
    .sprite-blue_right_arrow,
    .sprite-downloads_icon,
    .sprite-footer-pattern-lg,
    .sprite-footer-pattern-sm,
    .sprite-gray_arrow_left, .flex-direction-nav .flex-prev,
    .sprite-gray_arrow_right, .flex-direction-nav .flex-next,
    .sprite-icon_OpenNewWindow,
    .sprite-icon_alert_orange,
    .sprite-icon_download,
    .sprite-icon_get_support,
    .sprite-icon_license_keys,
    .sprite-icon_more_video,
    .sprite-info,
    .sprite-kb_bg,
    .sprite-large-angle-icon-dark-blue,
    .sprite-large-angle-icon-green,
    .sprite-licences_icon,
    span.h-icon-blue,
    span.h-icon-green,
    .sprite-locale_bg,
    .sprite-logo_myvmware-old,
    .sprite-logo_myvmware,
    .page-logo-my,
    .sprite-reports_icon,
    .sprite-ribbonCircle,
    .sprite-searchIcon,
    .sprite-services_icon,
    .sprite-services_icon_1,
    .sprite-sliderBg,
    .sprite-support_icon,
    .sprite-tick,
    .sprite-users_icon,
    .sprite-video_image{ 
        background-image: url("/static/myvmware/common/css/reskin_images/reskin_sprite.png") !important; 
    }



.sprite-MyVMware_logo_home{ background-position: 0 0; width: 252px; height: 38px; } 
.sprite-alert-success_20{ background-position: 0 -88px; width: 16px; height: 16px; } 
.sprite-alert-warning_20{ background-position: 0 -154px; width: 19px; height: 17px; } 
.sprite-alerts_icon{ background-position: 0 -219px; width: 32px; height: 32px; } 
.sprite-blue_left_arrow{ background-position: 0 -303px; width: 33px; height: 45px; } 
.sprite-blue_right_arrow{ background-position: 0 -398px; width: 33px; height: 45px; } 
.sprite-downloads_icon{ background-position: 0 -493px; width: 32px; height: 32px; } 
.sprite-footer-pattern-lg{ background-position: 0 -575px; width: 398px; height: 234px; } 
.sprite-footer-pattern-sm{ background-position: 0 -859px; width: 163px; height: 88px; } 
.sprite-gray_arrow_left, .flex-direction-nav .flex-prev{ background-position: 0 -997px !important; width: 33px; height: 45px; } 
.sprite-gray_arrow_right, .flex-direction-nav .flex-next{ background-position: 0 -1092px !important; width: 33px; height: 45px; } 
.sprite-icon_OpenNewWindow{ background-position: 0 -1187px; width: 14px; height: 11px; display: inline-block; line-height: 12px; } 
.sprite-icon_alert_orange{ background-position: 0 -1248px; width: 36px; height: 36px; } 
.sprite-icon_download{ background-position: 0 -1334px; width: 32px; height: 32px; } 
.sprite-icon_get_support{ background-position: 0 -1416px; width: 32px; height: 32px; } 
.sprite-icon_license_keys{ background-position: 0 -1498px; width: 32px; height: 32px; } 
.sprite-icon_more_video{ background-position: 0 -1580px; width: 8px; height: 8px; } 
.sprite-info{ background-position: 0 -1638px; width: 16px; height: 16px; } 
.sprite-kb_bg{ background-position: 0 -1704px; width: 5px; height: 126px; } 
.sprite-large-angle-icon-dark-blue{ background-position: 0 -1880px; width: 22px; height: 22px; } 
.sprite-large-angle-icon-green{ background-position: -448px 0; width: 22px; height: 22px; } 
.sprite-licences_icon{ background-position: -448px -72px; width: 32px; height: 32px; } 
span.h-icon-blue{ background-position: -448px -154px; width: 18px; height: 18px; display: inline-block; vertical-align: text-top; margin-right: 5px; } 
span.h-icon-green{ background-position: -448px -222px; width: 18px; height: 18px; display: inline-block; vertical-align: text-top; margin-right: 5px; } 
.sprite-locale_bg{ background-position: -448px -290px; width: 30px; height: 16px; } 
.sprite-logo_myvmware-old{ background-position: -448px -356px; width: 166px; height: 25px; } 
.sprite-logo_myvmware, .header .page-logo-my{ background-position: -448px -431px !important; width: 204px !important; height: 31px !important; } 
.sprite-reports_icon{ background-position: -448px -512px; width: 32px; height: 32px; } 
.sprite-ribbonCircle{ background-position: -448px -594px; width: 47px; height: 40px; } 
.sprite-searchIcon{ background-position: -448px -684px; width: 16px; height: 16px; } 
.sprite-services_icon{ background-position: -448px -750px; width: 38px; height: 32px; } 
.sprite-services_icon_1{ background-position: -448px -838px; width: 32px; height: 32px; } 
.sprite-sliderBg{ background-position: -448px -920px; width: 4px; height: 155px; } 
.sprite-support_icon{ background-position: -448px -1121px; width: 32px; height: 32px; } 
.sprite-tick{ background-position: -448px -1204px; width: 18px; height: 15px; } 
.sprite-users_icon{ background-position: -448px -1272px; width: 32px; height: 32px; } 
.sprite-video_image{ background-position: -448px -1354px; width: 20px; height: 14px; } 





}