
 .custom-radio {
    float:left;
    clear:both;
    line-height: 18px;
    font-family: $font-stack;
    font-size: 1rem;
    margin-top  : 13px;
    margin-bottom:0px;
    padding-left: 28px;
    position: relative;
    text-align: left;
    &:first-child{
     margin-top  : 0px;
    }
    .customRadioBox {
        width: 18px;
        height: 18px;
        display: inline-block;
		font-family: icon;
        position: absolute;
        left:0;
        z-index: 1;
        &.disabled:before {
            color:#ccc;          
        }
		&:before{
			content: "\e128";
			color:#666;
		}
    }
	
    &.selected {
        .customRadioBox:before {    
            content: "\e127";
        }
    }
    &.disabled {
        .customRadioBox:before {
            color:#ccc;
        }
    }
    
    &.disabledColor {
        color: $label-disabled-Color;
    }
	&.disabledColor.selected{
		color:#333;
	}
    input[type="radio"] {
        _noFocusLine: expression(this.hideFocus=true);
        @include vmf-custom-opacity(0);
        outline: none;
        position: absolute;
    }
    .toolTip-icon {
        margin-top:0px;
    }
}
