<div class="modal fade vmf-modal">
	<div class="modal-dialog row"> 
	    <div class="modal-content"> 
			<div class="modal-header">
				<a href="javascript:void(0)" class="closeIcon" title="close" aria-hidden="true" ng-click="closeModal()"></a>
				<h4 class="modal-title" id="myModalLabel">
				     {{globalVars.textDelFolder}}    
				</h4>				
			</div>
			<div class="modal-body">
				<div ng-show="deleteFolderErrorMsg.length >= 1">{{deleteFolderErrorMsg}}</div>
				<div>
					<span class="bodyText">{{globalVars.textDelFldrConfirm}}</span>
					<div class="bodyContainer">
						<div class="row">
							<div class="col-md-5 label">
								<span>{{globalVars.textDelFolder}} </span>
							</div>
							<div class="col-md-7 labelValue">
								<span>{{modalData.folders[0]['fullFolderPath']}}</span>
							</div>
						</div>
					</div>
					<div class="warning">
						<span class="warningIcon"></span>
						<div class="warningBody">
							<p>{{globalVars.delFolderWarningMsg1}}</p>
							<p>{{globalVars.delFolderWarningMsg2}}</p>
						</div>
					</div>
				</div>
				<div ng-show="ajaxLoader" class="ajaxLoader"></div>
			</div>
			<div class="modal-footer">
				<div class="rightButton">
				<button type="button" class="vmf-btn vmf-primary" ng-click="DeleteFolderConfirm()">{{globalVars.textConfirm}}</button>
				<!--button type="button" data-dismiss="modal" class="vmf-btn vmf-secondary" ng-click="closeModal()">Cancel</button-->
				<button type="button" class="vmf-btn vmf-secondary" data-dismiss="modal" ng-click="closeModal()">{{globalVars.textCancel}}</button>
				</div>
			</div>
		</div>
	</div>
</div>