<div class="modal fade vmf-folderModel vmf-modal">
    <div class="modal-dialog {{InviteUserModal}} row">
        
        <div class="modal-content">

            <div class="modal-header">
                <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="close('Cancel');modalShown=false"></a>
                <h4 class="modal-title" id="myModalLabel">
                   {{modalData.operationScope.text}}     
               </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



