<div class="modal fade vmf-modal">
	<div class="modal-dialog row"> 
	    <div class="modal-content"> 
			<div class="modal-header">
				<a href="javascript:void(0)" class="closeIcon" title="close" aria-hidden="true" ng-click="closeModal()"></a>
				<h4 class="modal-title" id="myModalLabel">
				     {{globalVars.textMoveFolder}}    
				</h4>				
			</div>
			<div ng-show="ajaxLoader" class="ajaxLoader"></div>
			<div ng-show="moveFolderstep1">
				<div class="modal-body" id="moveFolderStep1">				
					<div ng-show="moveFolderErrorMsg.length >= 1">{{moveFolderErrorMsg}}</div>
					<div>
						<span class="bodyText">{{globalVars.textSltFldrLocn}}</span>
						<div class="bodyContainer">
							<div>
								<div class="row">
									<span class="col-md-4 label">{{globalVars.textMoveFolder}}</span>
									<span class="col-md-8 labelValue">{{modalData.folders[0]['fullFolderPath']}}</span>
								</div>
								<div class="row">
									<span class="col-md-4 label">{{globalVars.textTo}}</span> 
									<div class="col-md-8 labelValue folderPathsDropdown">
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="modal-footer">
					<div class="rightButton">
					<button type="button" class="vmf-btn vmf-primary" ng-click="moveFolderContinue()" ng-disabled="folderPathsOption == null">{{globalVars.textContinue}}</button>
					<button type="button" class="vmf-btn vmf-secondary" data-dismiss="modal" ng-click="closeModal()">{{globalVars.textCancel}}</button>
					</div>
				</div>
			</div>
			<div ng-show="moveFolderstep2">
				<div class="modal-body">				
					<div ng-show="ajaxLoader">{{globalVars.textLoading}}</div>
					<div ng-show="moveFolderErrorMsg.length >= 1">{{moveFolderErrorMsg}}</div>
					<div>
						<span class="bodyText">{{globalVars.textSltFldrLocn}}</span>
						<div class="bodyContainer">
							<div class="row">
								<span class="col-md-4 label">{{globalVars.textMoveFolder}}</span>
								<span class="col-md-8 labelValue">{{modalData.folders[0]['fullFolderPath']}}</span>
							</div>
							<div class="row">
								<span class="col-md-4 label">{{globalVars.textTo}}</span>
								<span class="col-md-8 labelValue">{{targetFullFolderPath}}</span>								
							</div>
							<div class="warning">
								<span class="warningIcon"></span>
								<div class="warningBody">
									<p>{{globalVars.moveFolderWarning1}}</p>
									<p>{{globalVars.moveFolderWarning2}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="leftButton">
						<button type="button" class="vmf-btn vmf-secondary" ng-click="moveFolderGoBack()">{{globalVars.textBack}}</button>	
					</div>
					<div class="rightButton">
						<button type="button" class="vmf-btn vmf-primary" ng-click="moveFolderConfirm()">{{globalVars.textContinue}}</button>
						<button type="button" class="vmf-btn vmf-secondary" data-dismiss="modal" ng-click="closeModal()">{{globalVars.textCancel}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>