<div class="modal fade vmf-modal">
	<div class="modal-dialog row"> 
	    <div class="modal-content"> 
			<div class="modal-header">
				<a href="javascript:void(0)" class="closeIcon" title="close" aria-hidden="true" ng-click="closeModal()"></a>
				<h4 class="modal-title" id="myModalLabel">
				     {{globalVars.textRenameFolder}}    
				</h4>				
			</div>
			<div class="modal-body">				
				<div>
					<span class="bodyText">{{globalVars.textTypeFolderName}}</span>
					<div class="bodyContainer">
						<div class="row">
							<span class="col-md-5 label">{{globalVars.textExistingFldrName}}</span>
							<span class="col-md-7 labelValue">{{modalData.folders[0]['fullFolderPath']}}</span>
						</div>
						<div class="row">
							<span class="col-md-5 label">{{globalVars.textFolderName}}</span>
							<div class="col-md-7 labelValue">
								<input type="text" ng-model="renameTxtFolderName" required />
								<div ng-show="renameFolderErrorMsg.length >= 1" class="errorTextStyle margin_top_10">{{renameFolderErrorMsg}}</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="ajaxLoader" class="ajaxLoader"></div>
			</div>
			<div class="modal-footer">
				<div class="rightButton">
				<button type="button" class="vmf-btn vmf-primary" ng-click="renameFolderConfirm()" ng-disabled="!(!!renameTxtFolderName)" >{{globalVars.textConfirm}}</button>
				<!--button type="button" data-dismiss="modal" class="vmf-btn vmf-secondary" ng-click="closeModal()">Cancel</button-->
				<button type="button" class="vmf-btn vmf-secondary" data-dismiss="modal" ng-click="closeModal()">{{globalVars.textCancel}}</button>
				</div>
			</div>
		</div>
	</div>
</div>