<div class="modal fade vmf-folderModel vmf-modal">
    <div class="modal-dialog row">
        <div class="modal-content">
            <form>
	            <div class="modal-header">
	                <a href="javascript:void(0)" class="closeIcon" title="close" aria-hidden="true" ng-click="closeModal()"></a>
                	<h4 class="modal-title" id="myModalLabel">
						{{modalData.operationScope.text}} 
	                   	<span ng-if="shareFolderStepOne == true">
	                   		<span ng-if="modalData.folders[0]['folderName']"> - "{{modalData.folders[0]['folderName']}}"</span>
	                   	</span>
						<span ng-if="shareFolderStepTwo == true"> {{globalVars.selectFoldersText}}</span>
						<span ng-if="shareFolderStepThree == true"> {{globalVars.selectPermissionsText}}</span>           
	               </h4>
	            </div>	
				<div ng-show="ajaxLoader" class="ajaxLoader"></div>

				<div ng-if="shareFolderErrorMsg.length >= 1" class="alert-box starlight-alert margin-left-40 margin-right-40 margin-top-20">  	  <div class="alert alert-danger alert-dismissable"> 
				        <a class="close icons-alert-close" data-dismiss="alert" type="button"></a>
				        <div class="row"> 
				            <span class="icons-alert-danger"></span> 

				            <div class="alert-text col-sm-10"> 
				                <span>{{shareFolderErrorMsg}}</span> 
				            </div> 
				        </div> 
				    </div> 
				</div>
	            <div ng-show="shareFolderStepOne">
		            <div class="modal-body row" id="shareFolderStepOne">
		            	<span class="bodyText col-md-12" ng-bind-html="globalVars.selectUsersFrmAccount"></span>
		            	<div class="productsContainer col-md-5">
							<div class="productsContainerHeader">
								<span>{{globalVars.existingAccountUsers}} ({{getUsersDataFiltered.length || 0}})</span>
								<input type="text" ng-keyup="keyPress($event.keyCode)" ng-model="localObj.filterTextInput" placeholder="{{globalVars.enterNameOrEmailMsg}}"/>
								<button type="button" class="vmf-btn vmf-primary" ng-click="filterUser()">{{globalVars.textFind}}</button>
							</div>
							<div class="productsContainerBody minimized">
								<div class="existingUsersList">
									<ul>
										<li class="clearfix row">
											<div class="col-md-1">
								                <div class="checkbox">
                                                    <input type="checkbox" value="selAll" ng-change="checkSltAll()" id="selectAllExistingUsersCheckbox" name="selectAllExistingUsersCheckbox" ng-disabled="getUsersDataFiltered.length == 0" ng-model="localObj.selectAll" />
                                                    <label for="selectAllExistingUsersCheckbox"></label>
                                                </div>
											</div>
											<span class="col-md-4 name">{{globalVars.textName}}</span>
											<span class="col-md-6 email">{{globalVars.textEmail}}</span>
										</li>
										<li ng-show="getUsersDataFiltered.length == 0">{{globalVars.noFilterMsg}}</li>
										<li ng-repeat="users in getUsersDataFiltered = (getUsersData | filter:localObj.filterText | filter:filterAllUsers)" class="clearfix row">
											<label class="labelInherit">
												<div class="col-md-1">
													 <div class="checkbox">
											             <input type="checkbox" ng-model="users.selected" ng-change="checkUsersShare()" id="selectExistingUsersCheckbox" name="selectExistingUsersCheckbox" />
                                                        <label for="selectExistingUsersCheckbox"></label>
                                                    </div>
												</div>
												<span class="col-md-4 name">{{users.firstName}} {{users.lastName}}</span>
												<span class="col-md-6 email">{{users.email}}</span>
											</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-2" id="shareFolderMoveButtons">
							<button type="button" class="vmf-btn vmf-primary" ng-disabled="shareFldrAddBtnDisabled" ng-click="AddUser()">{{globalVars.addBtn}} </button>
							<button type="button" class="vmf-btn vmf-primary" ng-disabled="shareFldrRemoveBtnDisabled" ng-click="removeUser()">{{globalVars.removeBtn}}</button>
						</div>
						<div class="productsContainer col-md-5">
							<div class="productsContainerHeader">
								<span>{{globalVars.selectedUsers}} ({{getUsersFilteredSelected.length || 0}})</span>
							</div>
							<div class="productsContainerBody">
								<ul class="selectedUsersList">
									<li class="clearfix row">
											<div class="col-md-1">
											</div>
											<span class="col-md-4 name">{{globalVars.textName}}</span>
											<span class="col-md-6 email">{{globalVars.textEmail}}</span>
										</li>
									<li ng-repeat="users in getUsersFilteredSelected = ( getUsersData | filter:filterSelectedUsers)" class="clearfix row">
										<label class="labelInherit">
											<div class="col-md-1">
												<div class="checkbox">
											         <input type="checkbox" ng-model="users.selected" ng-change="checkUsersShare()" id="selectedUsersCheckbox" name="selectedUsersCheckbox" />
                                                    <label for="selectedUsersCheckbox"></label>
                                                </div>
											</div>
											<span class="name col-md-4">{{users.firstName}} {{users.lastName}}</span>
											<span class="email col-md-6">{{users.email}}</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
		            </div>
		            <div class="modal-footer">
		            	<div class="leftButton">
		            		<!--<vmf-checkbox-group class="vmf-checkbox-group" name="shareMultipleFolders" type="1" c-disabled="getUsersFilteredSelected.length == 0" click-callback="shareFoldersStep2()"></vmf-checkbox-group>
		            		<span>{{globalVars.shareMultipleFolders}}</span> -->
							<button type="button" class="vmf-btn vmf-primary" ng-class="{vmfdisabled: getUsersFilteredSelected.length == 0}" ng-disabled="getUsersFilteredSelected.length == 0" ng-click="shareFoldersStep2()">{{globalVars.shareMultipleFolders}}</button>
		            	</div>
		            	<div class="rightButton">
							<button type="button" class="vmf-btn vmf-primary" ng-class="{vmfdisabled: getUsersFilteredSelected.length == 0}" ng-disabled="getUsersFilteredSelected.length == 0" ng-click="shareFolderStep1Continue()">{{globalVars.textContinue}}</button>
							<button type="button" class="vmf-btn vmf-secondary" ng-click="closeModal()">{{globalVars.textCancel}}</button>
						</div>
		            </div>
		        </div>

		        <div ng-show="shareFolderStepTwo">
		            <div class="modal-body" id="shareFolderStepTwo">
		            	<span class="bodyText">{{globalVars.giveFolderPermission}}</span>
						<div class="productsContainer">
							<div class="productsContainerHeader">
								<span>{{globalVars.folderTxt}}</span>
							</div>
							<div class="productsContainerBody">
								<div class="selectFolderTree" id="shareFolderFt">
									<div ng-show="ftAjaxLoader" class="ajaxLoader">{{globalVars.textLoading}}</div>

									<div class="folderTree ftError" ng-if="folderContent == undefined || emptyTree == true">
								      <div class="folderTreeHeader">
								         <a href="javascript:void(0)" class="libraryCheckbox">
								            <label class=" ng-scope folderSelector">{{globalVars.licenseFolder}}</label>
								         </a>
								      </div>
								      <div class="margin-top-10 margin-left-10">{{globalVars.txtFolderContentsNotAvailable}}</div>
								    </div>
									

									<div vmf-folder-tree ng-if="folderContent && emptyTree == false" tree="folderContent" root-name="popUpFolderRoot" ajax="true" multiple-select="on"></div>
								</div>
							</div>
						</div>
					</div>
		            <div class="modal-footer">
		            	<div class="leftButton">
		            		<button type="button" class="vmf-btn vmf-secondary" ng-click="shareFoldersStep1()">{{globalVars.textBack}}</button>
		            	</div>
		            	<div class="rightButton">
							<button type="button" class="vmf-btn vmf-primary" ng-disabled="!folderSelFlag" ng-click="shareFoldersStep3()">{{globalVars.textContinue}}</button>
							<button type="button" class="vmf-btn vmf-secondary" ng-click="closeModal()">{{globalVars.textCancel}}</button>
						</div>
		            </div>
		        </div>

		        <div ng-show="shareFolderStepThree">
		            <div class="modal-body" id="shareFolderStepThree">
		            	<span class="bodyText getEditAccessPermissions" ng-bind-html="to_trusted(editAccessPermissionsMsg)"></span>
	            		<div class="bodyContainer clearfix">
	            			<div class="col-md-7"></div>
	            			<div class="col-md-5 adminChkboxWrap" ng-hide="hideAdmin">
		            			<vmf-checkbox-group class="vmf-checkbox-group" name="administratorCheckbox" c-label="Administrator" type="1" model="localObj.adminCheck" change-callback="changeAdminFn()"></vmf-checkbox-group>
		            			<span>{{globalVars.textAdministrator}} <span class="infoIcon" data-container="body" data-toggle="popover" data-placement="right" data-original-title=""></span></span>
	            			</div>
	            		</div>
		            	<div class="productsContainer">
		            		<div class="productsContainerBody padding_0">
		            			<div class="productsContainerHeader clearfix">
			            			<ul class="clearfix">
			            				<li class="col-md-7 permDescription">{{globalVars.textAccess}}</li>
			            				<li class="col-md-5 permDescription borderLeft">{{globalVars.textAllowed}}</li>
			            			</ul>
			            		</div>
			            		<div class="selectPermissionsDatatable">
									<ul>
										<li ng-repeat="(key,val) in getFolderPermissions" class="clearfix">
											<div class="col-md-7 permDescription {{val.permissionCode}}">{{val.description}}</div>
											<div class="col-md-5 permInput">
												<vmf-checkbox-group change-callback="permissionChange(val)" class="vmf-checkbox-group" name="administratorCheckbox" type="1" model="val.checked" c-disabled="val.disabled"></vmf-checkbox-group>
												<span ng-show="val.disabled == true" title="{{globalVars.txtCannotEditPerm}}" class="icon_lock_grey margin_bottom_n2"></span>
											</div>
										</li>
									</ul>
			            		</div>
			            	</div>
		            	</div>
		            </div>
		            <div class="modal-footer">
		            	<div class="leftButton">
		            		<button type="button" class="vmf-btn vmf-secondary" ng-click="shareFolderStep3Back()">{{globalVars.textBack}}</button>
		            	</div>
		            	<div class="rightButton">
							<button type="button" class="vmf-btn vmf-primary"  ng-click="shareFoldersStep4('share')">{{globalVars.textContinue}}</button>
							<button type="button" class="vmf-btn vmf-secondary" ng-click="closeModal()">{{globalVars.textCancel}}</button>
						</div>
		            </div>
	            </div>

	            <div ng-show="selectPermWarning">
	            	<div class="modal-body" id="selectPermWarning">
		            	<span></span>
						<p>
							{{globalVars.assigningPermission}}
						</p>
						<p class="margin-top-20">
							{{globalVars.placingUpgradeOrders}}
						</p>
					</div>
					 <div class="modal-footer">
		            	<div class="rightButton">
							<button type="button" class="vmf-btn vmf-primary"  ng-click="permissionChangeOk()">{{globalVars.okBtn}}</button>
						</div>
		            </div>
	            </div>


	            <div ng-show="shareFolderStepFour">
		            <div class="modal-body" id="shareFolderStepFour">
		            	<span class="bodyText">{{globalVars.confirmSelectedUsers}}</span>
		            	<div class="productsContainer row">
		            		<div class="col-md-4">
		            			<div class="productsContainerHeader">{{globalVars.selectedUsers}}</div>
		            			<div class="productsContainerBody shareFolderUsersWrap">
		            					<div class="selectedUsersContainer userAddedLoop">
			            					<div class="fbold">{{globalVars.txtAddedUsers}}</div>
			            					<ul>
				            					<li ng-repeat="users in userAddedData.addedUserList">
													<span class="name">{{users.firstName}} {{users.firstName}}</span>
													<span class="email">{{users.email}}</span>
												</li>
											</ul>
			            				</div>
			            				<div class="selectedUsersMsg">
		            					{{globalVars.AddedUsersMsg}}
		            				</div>
										<div class="selectedUsersContainer userInvitedLoop">
			            					<div class="fbold">{{globalVars.txtInvitedUsers}}</div>
			            					<ul>
				            					<li ng-repeat="users in userAddedData.invitedUserList">
													<span class="name">{{users.firstName}} {{users.lastName}}</span>
													<span class="email">{{users.email}}</span>
												</li>
											</ul>
			            				</div>	
			            				<div class="selectedUsersMsg">
		            					{{globalVars.selectedUsersMsg}}
		            				</div>		            				
									</div>
		            		</div>
		            		<div class="col-md-4">
		            			<div class="productsContainerHeader">{{globalVars.selectedFolders}}</div>
		            			<div class="productsContainerBody padding_0">
		            				<div class="selectedFoldersContainer">
		            					<ul>
		            						<li ng-repeat="folders in getSelectedFolders">
		            							<div class="fldrName">{{folders.folderName}}</div>
		            							<div class="fldrPath">{{folders.fullFolderPath}}</div>
		            						</li>
		            					</ul>
		            				</div>
		            			</div>
		            		</div>
		            		<div class="col-md-4">
		            			<div class="productsContainerHeader">{{globalVars.permissions}}</div>
		            			<div class="productsContainerBody">
		            				<div class="permissionsContainer">
		            					<ul>
		            						<li ng-repeat="folderPerms in getFolderPermissions">
		            							<div class="clearfix">
		            								<span>{{folderPerms.description}}</span>
													<span ng-if="folderPerms.checked == false" class="f_right icon_lock_grey margin_bottom_n2"></span>
													<span ng-if="folderPerms.checked == true" class="f_right optSelected"></span>
													<span ng-if="folderPerms.checked == false" class="f_right optNotSelected"></span>
		            							</div>
		            						</li>
		            					</ul>
		            				</div>
		            			</div>
		            		</div>
		            	</div>
		            </div>
		            <div class="modal-footer">
		            	<div class="leftButton">
		            		<button type="button" class="vmf-btn vmf-secondary" ng-click="shareFoldersStep3()">{{globalVars.textBack}}</button>
		            	</div>
		            	<div class="rightButton">
							<button type="button" class="vmf-btn vmf-primary" ng-click="confirmFolderShare()">{{globalVars.textConfirm}}</button>
							<button type="button" class="vmf-btn vmf-secondary" ng-click="closeModal()">{{globalVars.textCancel}}</button>
						</div>
		            </div>
		        </div>

            </form>
        </div>
    </div>
</div>