#help_bubbles_paginator {
    display: none;
    position: fixed;
    bottom: 50px;
    width:100%;
    z-index: 100000;
    text-align: center;
}
#help_bubbles_paginator a {
    padding: 0.6875em 1.35em;
    outline: none;
}
#help_bubbles_paginator a:focus, #help_bubbles_paginator a:active {
    outline: none;
}
#help_bubbles_paginator a.circle{
    background: url("/vmf/m/spotLight/4.0/css/images/icn_rotator_dot_nonselected.png") no-repeat center center;
    padding-left:0px;
}
#help_bubbles_paginator a.circle.selected {
    background: url("/vmf/m/spotLight/4.0/css/images/icn_rotator_dot_selected.png") no-repeat center center;
}
#help_bubbles_paginator a.left.arrow{
    background: url("/vmf/m/spotLight/4.0/css/images/icn_left_circle_arrow.png") no-repeat;
    margin-right:30px; 
}
#help_bubbles_paginator a.right.arrow{
    background: url("/vmf/m/spotLight/4.0/css/images/icn_right_circle_arrow.png") no-repeat; 
    margin-left:30px;
}
#help_bubbles_paginator a.left.arrow.disabled {
    background: url("/vmf/m/spotLight/4.0/css/images/icn_left_circle_arrow_inactive.png") no-repeat; 
    opacity: 0.5;
}
#help_bubbles_paginator a.right.arrow.disabled {
    background: url("/vmf/m/spotLight/4.0/css/images/icn_right_circle_arrow_inactive.png") no-repeat; 
    opacity: 0.5;
}
#help_bubbles_paginator a.circle.selected:hover {
    cursor: default;
}
#help_bubbles_paginator a.arrow.disabled:hover {
    cursor: default;
}
.help_bubble {
    position: absolute;
    z-index: 100000;
}
.help_bubble .line-indicator div {
    width: 2px;
    background: #c2cd23;
    height: 40px;
}
.target_selected {
    border: 2px solid #c2cd23!important;
}
.help_bubble h1 {
    margin: 0;
    font-size: 24px;
    color: #C2CD23;
    margin-left: -20px; /* gutter */
}
.help_bubble p {
    font-size: 18px;
    color: white;
    width: 300px;
    margin-left: -20px; /* gutter */
}
#help_bubbles_overlay {
    position:absolute;
    top:0; left:0; bottom:-25px; right:0;
    opacity: 0.7;
    display:none;
    z-index:99998;
}
#help_bubbles_overlay .top {
    position: absolute; top: 0; left: 0; right:0;
    background: black;
}
#help_bubbles_overlay .left {
    position: absolute; left: 0;
    background: black;
}
#help_bubbles_overlay .right {
    position: absolute; right: 0;
    background: black;
}
#help_bubbles_overlay .bottom {
    position: absolute; left:0; right:0; bottom:0;
    background: black;
}
a#close_help_bubbles {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #0095D3 url("/vmf/m/spotLight/4.0/css/images/icn_close.png") center no-repeat;
    line-height: 4;
    width: 4.0625em;
    z-index: 100000;
}
.paginateCenter {
    display: inline-block;
}
html.safari #help_bubbles_paginator a.circle {
    padding-bottom: 30px;
}

html.safari #help_bubbles_paginator a.left.arrow, html.safari #help_bubbles_paginator a.right.arrow {
    height: 42px;
}

html.safari #help_bubbles_paginator a {
    display: inline-block;
}