/* Default styling for jQuery Datepicker v4.1.0. */
/* line 2, stdin */
.datepick {
  background-color: #fff;
  color: #000;
  border: 1px solid #444;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  font-family: Arial,Helvetica,Sans-serif;
  font-size: 90%; }

/* line 12, stdin */
.datepick-rtl {
  direction: rtl; }

/* line 15, stdin */
.datepick-popup {
  z-index: 1000; }

/* line 18, stdin */
.datepick-disable {
  position: absolute;
  z-index: 100;
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50); }

/* line 25, stdin */
.datepick a {
  color: #fff;
  text-decoration: none; }

/* line 29, stdin */
.datepick a.datepick-disabled {
  color: #888;
  cursor: auto; }

/* line 33, stdin */
.datepick button {
  margin: 0.25em;
  padding: 0.125em 0em;
  background-color: #fcc;
  border: none;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  font-weight: bold; }

/* line 43, stdin */
.datepick-nav, .datepick-ctrl {
  float: left;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 90%;
  font-weight: bold; }

/* line 51, stdin */
.datepick-ctrl {
  background-color: #600; }

/* line 54, stdin */
.datepick-cmd {
  width: 30%; }

/* line 57, stdin */
.datepick-cmd:hover {
  background-color: #777; }

/* line 60, stdin */
.datepick-ctrl .datepick-cmd:hover {
  background-color: #f08080; }

/* line 63, stdin */
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
  width: 8%; }

/* line 66, stdin */
a.datepick-cmd {
  height: 1.5em; }

/* line 69, stdin */
button.datepick-cmd {
  text-align: center; }

/* line 72, stdin */
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
  float: left;
  padding-left: 2%; }

/* line 76, stdin */
.datepick-cmd-current, .datepick-cmd-today {
  float: left;
  width: 35%;
  text-align: center; }

/* line 81, stdin */
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
  float: right;
  padding-right: 2%;
  text-align: right; }

/* line 86, stdin */
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
  float: right;
  padding-left: 0%;
  padding-right: 2%;
  text-align: right; }

/* line 93, stdin */
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
  float: right; }

/* line 96, stdin */
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
  float: left;
  padding-left: 2%;
  padding-right: 0%;
  text-align: left; }

/* line 103, stdin */
.datepick-month-nav {
  float: left;
  background-color: #777;
  text-align: center; }

/* line 108, stdin */
.datepick-month-nav div {
  float: left;
  width: 12.5%;
  margin: 1%;
  padding: 1%; }

/* line 114, stdin */
.datepick-month-nav span {
  color: #888; }

/* line 117, stdin */
.datepick-month-row {
  clear: left; }

/* line 120, stdin */
.datepick-month {
  float: left;
  width: 15em;
  border: 1px solid #444;
  text-align: center; }

/* line 126, stdin */
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
  height: 1.5em;
  background-color: #444;
  color: #fff;
  font-weight: bold; }

/* line 132, stdin */
.datepick-month-header select, .datepick-month-header input {
  height: 1.4em;
  border: none;
  font-size: 100%; }

/* line 137, stdin */
.datepick-month-header input {
  position: absolute;
  display: none; }

/* line 141, stdin */
.datepick-month table {
  width: 100%;
  border-collapse: collapse; }

/* line 145, stdin */
.datepick-month thead {
  border-bottom: 1px solid #aaa; }

/* line 148, stdin */
.datepick-month th, .datepick-month td {
  margin: 0em;
  padding: 0em;
  font-weight: normal;
  text-align: center; }

/* line 154, stdin */
.datepick-month th {
  border: 1px solid #777; }

/* line 157, stdin */
.datepick-month th, .datepick-month th a {
  background-color: #777;
  color: #fff; }

/* line 161, stdin */
.datepick-month td {
  background-color: #eee;
  border: 1px solid #aaa; }

/* line 165, stdin */
.datepick-month td.datepick-week {
  border: 1px solid #777; }

/* line 168, stdin */
.datepick-month td.datepick-week * {
  background-color: #777;
  color: #fff;
  border: none; }

/* line 173, stdin */
.datepick-month a {
  display: block;
  width: 100%;
  padding: 0.125em 0em;
  background-color: #eee;
  color: #000;
  text-decoration: none; }

/* line 181, stdin */
.datepick-month span {
  display: block;
  width: 100%;
  padding: 0.125em 0em; }

/* line 186, stdin */
.datepick-month td span {
  color: #888; }

/* line 189, stdin */
.datepick-month td .datepick-other-month {
  background-color: #fff; }

/* line 192, stdin */
.datepick-month td .datepick-weekend {
  background-color: #ddd; }

/* line 195, stdin */
.datepick-month td .datepick-today {
  background-color: #f0c0c0; }

/* line 198, stdin */
.datepick-month td .datepick-highlight {
  background-color: #f08080; }

/* line 201, stdin */
.datepick-month td .datepick-selected {
  background-color: #777;
  color: #fff; }

/* line 205, stdin */
.datepick-month th.datepick-week {
  background-color: #777;
  color: #fff; }

/* line 209, stdin */
.datepick-status {
  clear: both;
  background-color: #ddd;
  text-align: center; }

/* line 214, stdin */
.datepick-clear-fix {
  clear: both; }

/*# sourceMappingURL=sass */