/* over-writing normalise bootstrap styles */
html {
  font-family: "proxima-nova-regular";
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}


/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ol, ul {
  list-style: none;
}


ul ul {
  list-style: none;
}

body{
	&.liferay{
			&.starlight{ 
						.header{
								 height: auto; 
								
								#breadcrumb{
									height:25px;
								} 
								.page-logo-my {
									background-image: url("/vmf/c/4.0/images/starlight/logo_myvmware.png");
									background-repeat: no-repeat;
									height: 39px;
									margin: 25px 0 0;
									width: 185px; 
								}
								.nav-menu{
											float: right;
											font-family: "proxima-nova-thin","Arial",sans-serif;
											margin: 12px -10px 5px 0;
											position: relative;
											z-index: 3; 
										 ul.nav-level-1{
														 li:hover{
																	 & > ul {
																			 display: block;
																			 }
																	}
														& > li	{
																 margin: 0; 
																& > ul{
																			 padding-left: 0;
																			 padding-right: 0;
																			 margin:0;
																			  width:255px;
																	}
																a{
																	&.menu-item-primary-1 {
																		padding: 10px 12px 15px;
																		font-size: 18px; 
																	}	
																}
														}
														li {		
																&:last-child {
																				ul.nav-level-2{
																								left: auto;
																								ul {
																									  left: -240px;
																									  position: absolute;
																									  width: 245px;
																									}										
																									li.show_drop_l2
																									{
																										&:after{
																											content: " ";
																											color: #006990;
																											right: 15px;
																											position: absolute;
																										}
																										&:before{
																											content: "<<";
																											  color: #006990;
																											  left: 8px;
																											  position: absolute;
																										
																										}
																									}	
																					}
																			}
																&:nth-last-child(2){
																					ul.nav-level-2{
																								left: auto;
																								ul {
																									  left: -240px;
																										  position: absolute;
																										  width: 245px;
																									}
																								li.show_drop_l2
																								{
																									&:after{
																											content: " ";
																											color: #006990;
																											right: 15px;
																											position: absolute;
																										}
																									&:before{
																											content: "<<";
																											  color: #006990;
																											  left: 8px;
																											  position: absolute;
																										
																										}
																								}										
																					}
																			}
																	ul.nav-level-2{
																				li {
																					&:hover{
																							& > ul{
																									display: block;
																							}
																					}
																				}
																	}				
															}
														
														ul.nav-level-2{
																		& > li {
																				  padding: 0 0 5px 10px;
																				  width: 100%;
																				  position: relative;
																				  left: 0;
																				  margin:0;
																				  font-family:proxima-nova-regular;
																				
																					a {
																						 font-size: 14px;
																						 color: #006990;
																						}
																					a:hover {
																							color: #FFF;
																					background-color:transparent;
																							}
																					& > ul {
																							& > li {
																									padding-left: 30px;
																									margin-bottom: 5px;
																								}
																							}
																					&:hover{
																						& > ul {
																								top: -10px;
																								
																							}
																					
																					}
																					&.show_drop_l2:after{
																									content: ">>";
																									color: #006990;
																									right: 15px;
																									position: absolute;
																								}
																			}
																		ul {
																			  display: none;
																			  list-style: none;
																			  position: absolute;
																			  left: 258px;
																			  top: -12px;
																			  background-color: #f1f1f1;
																			  border-top: 4px solid #666;
																			  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.5);
																			  display: none;
																			  list-style-type: none;
																			  min-width: 245px;
																			  padding: 10px 0px 0px 0px;
																			  position: absolute;
																			  right: 0;
																			  width: auto;
																			  z-index: 100;
																			  padding-bottom:8px;
																		}
																		.ul_heading {
																				background: url("/files/images/framework/arrow-heading-link.png") no-repeat scroll right center transparent;
																				  color: #006990;
																				  display:none;
																				  font-size: 22px;
																				  font-weight: normal;
																				  margin: 0 0 10px 30px;
																				  padding-right: 20px !important;
																				  max-width: 80%;
																				  line-height:1;
																				  font-family:proxima-nova-regular;
																		}
																	}
																			
													}
										}
										.dropdown-menu {
														& > li{
																& > a{
																	 display: inline;
																	  padding-top: 0;
																	  padding-bottom: 0;
																}
															}
											}	
							}
						.page-eyebrow{
										.eyebrow-menu{
														ul{
															 li{
																	 position: relative;
																	height:20px;
																	&.user_options
																	{
																			&:hover{	
																					& > ul{
																							display: block;
																					}
																					& > a.menu-item-quick{
																						background: #666;color:#FFF;
																					}
																			}
																			& > ul{
																					 position: absolute;
																					  min-width: 120px;
																					  left:4px;
																					li{
																						border: none;
																						a{
																							color: #006990;
																						  &:hover{
																									background-color: transparent;
																									 color: #0095d3;
																							}	
																						}
																						
																					}													
																			}
																			& > .dropdown2 {
																						  position: absolute;
																						  right: 0px;
																						  width: 160px;
																			}
	
																	}
																	a{
																		&.menu-item-quick{
																			padding:3px 13px 26px;
																		}
																	}
																	&.welcomeMsg{
																				border-left:0;
																				a{
																				  &.menu-item-quick{
																									&.welcome_a{
																												padding-right:0;
																												&:hover{
																														text-decoration:none;color:#FFF;cursor:auto;
																												}
																									}
																						}																				  
																				}
																	}
																}
																&.nav-level-2{
																	  background-color: #f1f1f1;
																	  border-top: 4px solid #0095d3;
																	  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.5);
																	  display: none;
																	  list-style-type: none;
																	  min-width: 120px;
																	  padding: 15px;
																	  position: absolute;
																	  right: 0;
																	  top: 26px;
																	  width: 100%;
																	  z-index: 100;
																	  line-height: 2;
																}
																
																
																
														}
											}	
							}
						.configDashBox{
										.dropdown-menu{
														li{
															background:none;
															display:block;
														}
										}
							}
						#breadcrumb{
								font-size:100%;padding:0 0 0 0;height:25px;
								.configDashBox{
										.dropdown-menu{
														li{
															background:none;
															display:block;
														}
										}
								}
								li{
									background:none;margin-right:0;padding-right:0;vertical-align:top;
									a{
										color: #999;font-weight:normal;padding-left:2px;
									}
								}
								ul{
									&.breadcrumb{
										padding-bottom:8px;margin:0;padding-top:10px;
									}	
								}
							}
						
						label{
							input[type="radio"]:checked + span{
								cursor: default;
								color: #333;
							}						
						}
						
						.form-control{
								background-image: none;
						}
						input.form-control.focus{
								background: white;
						}
						input.focus{
								background: none;
						}
						.starlight-eyebrow-quick{ 
												.user_options{  
															span.glyphicon-chevron-down{
																						float:none; 
																						padding-left:10px;
																						font-size:12px;
																}			
													}
							}
						.hor-filter-list{
										.col-lg-2{
												 .hor-filter-item{
																label{
																	 input[type="radio"]{
																						&:checked{
																									&+ span{
																												&+ span{
																													 cursor: default;
																													color: #333;										
																												}
																									}
																						}
																		}														 
																}										
													}
										}
							}			
		
						.icons-locale_bg{
							background-position: 0 -516px;
							display: inline-block;
							height: 16px;
							width: 38px;
						}
						#breadcrumb{
							height:25px;
						}
						
						.portlet-column-content.empty{
							padding:0;
						}
						#modal_localeSelect{
											 ul.country-list{
															li{
																list-style:none;line-height:22px; margin: 0 0 2px;
																a{
																	color: #4ba8c4;
																	text-decoration: none;
																	font-size:14px;
																	font-weight:600;
																	
																	&:visited{
																				color: #39C;
																			text-decoration: none;
																		}
																}
															}
												}
											.modal-content{
													box-shadow:none;background-color:transparent !important;border:0px;border-radius:0px;
												}
											.modal-dialog{
													 margin: 15% auto!important;
												}
											.modal-header{
														border-bottom:0px; padding:0px   
												}	
											.close{
													position: absolute !important;
													right: 0;
													top: -4px;
												}
											.modal-footer{
															padding:0px;
												}
											.modal-body{ 
														padding:8px 6px 1px;
												}
											.country-list{
															font-size:12px;margin:0px;
												}	
											.option-header{
													 background: url("/static/myvmware/common/css/img/header-bg-select.png") no-repeat scroll -1px 0 transparent;
													   height: 150px;
														margin-top: -7px;
														position: relative;
												}
											.modal-title{   
													   color: white;
													font-size: 20px;
													padding: 51px 0 5px 5px;
													text-align: center;
													width: 166px;
												}
											#option-inner-mid{
															background: url('/static/myvmware/common/css/img/location-option-main-bg-mid.png') repeat-y scroll 100% 0 transparent;
																  height: 139px;
																position: relative;
																width: 576px;
												}
											#option-inner-bottom {
															background: url('/static/myvmware/common/css/img/location-option-main-bg-btm.png') no-repeat scroll 100% 0 transparent;
															width: 576px;
															height: 9px;
												}
											#option-inner-top {
													background: url('/static/myvmware/common/css/img/location-option-main-bg-top.png') no-repeat scroll 100% 0 transparent;
													width: 576px;
													height: 7px;			
												}		
							}
						.addontable-head{
									small{
										font-size: 16px;
										white-space: nowrap;
									}
						}
						
						#localeSelector{
									&.vmbar-vmware{
										display:inline-block;
									}
									.locale-selector{ 
													line-height: 14px; vertical-align: top;
										}
						}
						input{
								  padding: 0 15px;
							}	
						#main-content{
                          	.aui-w75,.aui-w25{float:left;padding:0;}
							}
							
						&.login_liferay{
						  .content-container,#content-container,#main-content {background:none;padding:0;
						  .aui-w75{width:63.66%;margin-right:3%;float:left;}
						  .aui-w25{width:33.33%;float:right;}
						  
						  }
						  
						  .portlet-content{background: none repeat scroll 0 0 #FFF;}
						    
						}
												
						 &.home_liferay{
						  .content-container,#content-container,#main-content {background:none;padding:0;
						  .aui-w75{width:72.5%;margin-right:3%;float:left;}
						  .aui-w25{width:23.5%;float:right;}
						 }
						  .portlet-content{background: none repeat scroll 0 0 #FFF;}
						  
						  #content-container,.content-container{padding:0;background:none;}
						  .header{height:98px;}
						  .container{width:98%;}
						  #main-content .portlet-layout {
							background: none repeat scroll 0 0 #fff;
							margin-bottom: 30px;
						}
						.navbar{margin-bottom:0;}
						  
					    }
					}
					
					#vmbar{
						display:inline-block;
					}	
		}	

			
	}
	.ie7{
		&.starlight{
			 .page-eyebrow{
							.eyebrow-menu{
											ul{
												li{
													float:left;
												}
											}											
								}							
				}	
			}	
		
	}
	
	.lt-ie9 {
		.starlight{
				.hor-filter-list{
									.col-lg-2{
											 .hor-filter-item{
															label{
																 input[type="radio"]{
																					&[checked="checked"]{
																											&+ span{
																													cursor: default;
																													color: #333;	
																													&+ span{
																															 cursor: default;
																															color: #333;										
																														}	
																											}
																								
																					}
																	}														 
															}										
												}
									}
						}
			}			
	}
	
	@media only all and (max-width: 768px){
	body{
			&.liferay{
						&.starlight{
									.header{
											.nav-menu{
													ul{
														margin:0px;
														&.nav-level-1{
																	& > li{
																			border-top:1px solid #d0d0d0;
																			a{
																				&.menu-item-primary-1{
																					color: #006690;left:20px;position:relative;padding:8px 0px 15px; display:inline-block;
																					border-top:0px;
																					&:before{
																								background:none;
																								content: "";
																								display: block;
																								height: 13px;
																								left: 16px;
																								position: absolute;
																								top: 16px;
																								width: 8px;
																						}
																				}
																				&.menu-item-primary-2{
																							border-top:0px;
																				}
																			
																			}
																			&.focused{
																				color:#FFF;display:block;top:0
																			}
																			&.show_drop{
																							background: url("/vmf/c/4.0/images/mobile-menu-arrow.png") no-repeat scroll 12px 15px rgba(0, 0, 0, 0);
																			}
																			&:hover{
																					& > ul{
																						  display: none;
																					}
																			}
																		}
																	li{	
																			height:auto;
																			background: none repeat scroll 0 0 #f1f1f1;
																			overflow:initial;float:left;display:block; width:100%;line-height:2;font-size:16px;
																			&.focused{
																				height:auto;background: none repeat scroll 0 0 #f1f1f1;overflow:initial;float:left;display:block; width:100%;line-height:2;font-size:16px;
																				
																				& > div{
																						& > ul{
																								display: block;padding:0; padding-left:5%;
																						}
																						ul.nav-level-2{
																										.level-3{
																												display: block;padding-left:5%;
																										}
																						}
																				}
																				ul.level-3{
																							li.level-3Child{
																								padding-left:8%;
																							}
																				}
																				& > ul{
																					display:block; width:100%;position:relative;
																					ul{
																						display:block; width:100%;position:relative;
																					}
																				}																			
																			}
																			
																			ul.nav-level-2{
																							li{
																								&.show_drop_l2{
																											&:before{
																													content:"";	
																												}	
																											&:after{
																													content:"";
																												}														
																											}
																							}
																						}
																			
																			
																	}
																	ul.nav-level-2{ 
																								ul{
																									left: 15px;
																									list-style: none outside none;
																									padding: 0;
																									top: 5px;
																									border-top:0px;
																									width:90%;
																									z-index: 100;
																									box-shadow:none;
																								}
																								a{
																									&.ul_heading{
																										display:none;
																									}
																								}
																		}	
															}
													&.nav-level-2{
																border-top:0px;background-color:#f7f7f7;right:0px;
																.col{
																	margin:0px;
																}
													}
													&.nav-level-1{
														overflow: initial;
													}
												}													
											}
										}
										& > ul{
												ul{
													overflow:initial;
												}
											}
										.container-fluid{
														& > .navbar-collapse{
																margin-right: 0px;
																margin-left: 0px;
																float:none;
																width:100%;
														}
										}
										.navbar-collapse.in{
												overflow:initial;
											}									
								}
								.dropdown1{
									li.focused{
										background: url("/vmf/c/4.0/images/mobile-menu-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); width: 16px;
									}
								}
								.nav-level-1{
									 ul.nav-level-2{
													div.col{
															   display: block; float: none; width:100%;
															a{
																 background:none;
															}
															li{
																background:none; display:block;list-style:none;
															}	
													}
										}
								}
								.nav-menu{
									ul.nav-level-2{
												li{
													&.has-subnav{
															margin-top:0px;line-height: 2;
															p.menu-item-primary-2{
																	width:100%;margin-bottom: 0px;
																	a{
																		border-bottom:0px none;padding-left:5%;
																		&.menu-item-primary-2{
																			border-bottom:0;
																		}
																	}
																}
														}
												}
										}
								}
								.navbar-collapse{
												border:1px solid #dddddd; border-radius:5px;background-color:#f7f7f7;
								}	
								.js{
									.menu{
										overflow:initial;
									}
									.menu-section{ 
												& > ul{
														ul{
															overflow:initial;
														}
												}
									}
								
								
								}
				}
		}				
						
						
	}

	
	
	
	/* Styles for Place holder */
	.ie .placeholder-box {
		position: relative;
		text-align:left;
		display:inline-block;
		float:left;
	}
	.ie .placeholder-box .placeholder-holder {
		color: #999999;
		font-size: 14px;
		left: 0;
		margin-left: 10px !important;
		margin-top: 17px;
		padding: 3px;
		position: absolute;
		top: 0;
		z-index: 1;
		width:90%;
	}
	.ie .placeholder-box .placeholder-holder{
		margin-top: 20px !important;
	}
	.ie .placeholder-box.selected input, .placeholder-box.selected textarea {
		opacity: 0.4;
	}
	.ie .placeholder-box.selected .placeholder-holder {
		color: #bbb;
	}
	.ie .placeholder-box input, .placeholder-box textarea {
		opacity: 1 !important;
		z-index:2;
	}
		

 html,body{
        background: -moz-linear-gradient(top, #ffffff 0%, #ededed 99%) !important;
        /* FF3.6+ */
        
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(99%, #ededed)) !important;
        /* Chrome,Safari4+ */
        
        background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 99%) !important;
        /* Chrome10+,Safari5.1+ */
        
        background: -o-linear-gradient(top, #ffffff 0%, #ededed 99%) !important;
        /* Opera 11.10+ */
        
        background: -ms-linear-gradient(top, #ffffff 0%, #ededed 99%) !important;
        /* IE10+ */
        
        background: linear-gradient(to bottom, #ffffff 0%, #ededed 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        /* W3C */
        
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0) !important;}
  body.liferay.starlight .page-b-header-gradient{
        background: -moz-linear-gradient(top, #ffffff 0%, #ededed 99%);
        /* FF3.6+ */
        
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(99%, #ededed));
        /* Chrome,Safari4+ */
        
        background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 99%);
        /* Chrome10+,Safari5.1+ */
        
        background: -o-linear-gradient(top, #ffffff 0%, #ededed 99%);
        /* Opera 11.10+ */
        
        background: -ms-linear-gradient(top, #ffffff 0%, #ededed 99%);
        /* IE10+ */
        
        background: linear-gradient(to bottom, #ffffff 0%, #ededed 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        /* W3C */
        
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
 }
 body.starlight.liferay .page-eyebrow{background: #6db33f !important;border-bottom: 0px none;
 #localeSelector a:hover{color: #FFF;text-decoration:none;}
 }
 body.starlight.liferay .page-eyebrow .eyebrow-menu ul li{border-left:0px none #FFF !important;}
 body.starlight.liferay .page-eyebrow .eyebrow-menu ul li > a:hover{text-decoration:none; color: #FFF;}
 body.starlight.liferay .page-eyebrow .eyebrow-menu ul li:first-child{border-left:0px none #FFF !important;}
 body.liferay.starlight .header .nav-menu ul.nav-level-1 ul.nav-level-2 > li a:hover{color:#0095D3;}
 body.starlight.liferay.vmf4{
  #content-container{box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);}
  .header .nav-menu ul.nav-level-1 > li:hover{background-color:#595959; color:#FFF !important;}
  #homePageNavigator .menu-item-primary-1 {padding: 10px 25px 15px; color:#464646;}
  #homePageNavigator li:hover .menu-item-primary-1{color:#FFF;}
  .header .nav-menu ul.nav-level-2{border-top:4px solid #595959;}
  .container-fluid .contentBg .col-md-4 .rightContainer {padding-right:0;}
  .container-fluid .contentBg .col-md-4{padding-right:0;}
  .keyinfo {
	  background: url('/static/myvmware/common/css/reskin_images/icon_alert_orange_triangle.png') 4% 47% no-repeat #f6fbfc;
	  padding: 10px 0 10px 10%;
	  font-size: 14px;
	  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
	}
	&.ie7{
		#content-container{border:1px solid #e6e6e6;}
		.keyinfo{border:1px solid #e6e6e6;}
		ul.nav-level-2{border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
		}
   &.ie8{
	  #content-container{border:1px solid #e6e6e6;}
	  .keyinfo{border:1px solid #e6e6e6;}
	  ul.nav-level-2{border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
	  }
  }
 body.starlight.liferay.home_liferay{
  .portlet-layout {box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);overflow:hidden;}
  &.ie7 .portlet-layout,&.ie8 .portlet-layout, &.ie9 .portlet-layout{border:1px solid #e6e6e6; box-shadow: none !important;}
  &.ie8,&.ie7{
	  #content-container{border:0px none #e6e6e6;}
	  }
  #content-container{box-shadow: none !important;}
 }
 