<div>
    <button class="vmf-btn vmf-primary" ng-click="modalShown=true" ng-keyup="test($event);">{{title}}</button>
    <div class="modalLoad" aria-hidden="true" tabindex="-1" role="dialog" ng-show="modalShown" id="{{id}}">
	   <div class="modal-backdrop fade in"></div>
        <div class="modal fade">
            <div class="modal-dialog {{size}}">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="javascript:void(0)" class="closeIcon" data-dismiss="modal" aria-hidden="true" ng-click="modalShown=false"></a>
                        <h4 class="modal-title" id="myModalLabel">
                            {{title}}
                        </h4>
                    </div>
                    <div ng-transclude></div>
                </div>
            </div>
        </div>
    </div> 
</div>


